__pycache__
.ipynb_checkpoints
.streamlit
wandb/
*.egg-info/
jax_cache/
/venv/
.bash_*
.idea/
/tools/cuda-repo-wsl-ubuntu-11-7-local_11.7.0-1_amd64.deb
/tools/cuda-repo-wsl-ubuntu-11-7-local_11.7.0-1_amd64.deb.1
/tools/libcudnn8_8.4.1.50-1+cuda11.6_amd64.deb
/pictures/
